streamlit
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
torchvision
chromadb>=0.4.0
protobuf>=4.21.0,<5.0.0
sentence-transformers
torch
transformers
pypdf
numpy
pandas
scikit-learn
requests
python-multipart
pillow
google-genai